{% extends './base.html' %}
{% block main %}
{% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'plist/imgbg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Latest Albums</h2>
        </div>

    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="formtag">
                <form method="get"><font size="4.5em">Search for Artist</font>
                    <input id="a" name="a" type="text" placeholder="input Artist..."/>
                </form>
            </div>
            {% for song in singer %}
                {{ song.song_title }}
                {{ song.song_artist }}
                <br>
                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                                <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                            </a>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                    <p>{{song.song_title}}</p>
                                </a>
                            </div>
                            <audio preload="auto" controls="controls">
                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                            </audio>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <div style="height: 150px"></div>
    </section>
{% endblock %}