{% extends './base.html' %}
{% block main %}
{% load static %}
    <style>
        .play_list #playlist,audio{background:#666;width:400px;padding:20px;}
        .play_list .active a{color:#5DB0E6;text-decoration:none;}
        .play_list li a{color:#eeeedd;background:#333;padding:5px;display:block;}
        .play_list li a:hover{text-decoration:none;}
    </style>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'plist/img/bg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <p>Make Your Own Playlist</p>
            <h2>Song Playlist Test</h2>
        </div>
    </section>

     <!--##### Breadcumb Area End ##### -->
    <section class="play_list">
        <audio preload="auto" tabindex="0" controls="controls" type="audio/mpeg">
            <source id="audio" type="audio/mp3" src="http://192.168.0.12:8000/static/plist/audio/Honesty.mp3">
            Sorry, your browser doesn't support HTML5 audio.
        </audio>
        <ul id="playlist">
            <li class="active">
                <a href="http://192.168.0.12:8000/static/plist/audio/Honesty.mp3">Honesty</a>
            </li>
            <li>
                <a href="http://192.168.0.12:8000/static/plist/audio/Lottery.mp3">Lottery</a>
            </li>
            <li><a href="http://192.168.0.12:8000/static/plist/audio/Papercut.mp3">Papercut</a></li>
            <li><a href="http://192.168.0.12:8000/static/plist/audio/nappa.mp3">nappa</a></li>
        </ul>
    </section>
    {% endblock %}

    {% block jquery %}
        <!--참고 : http://jsfiddle.net/lastrose/vkMqR/-->
        <script type="text/javascript" src={% static "plist/js/jquery/jquery-3.3.1.min.js"%}></script>
        <script>
            $( document ).ready(function() {
                $.getScript('{% static "plist/js/plugins/plugins.js"%}');
            });
        </script>

        <script type="text/javascript">
            jQuery.noConflict();
            var audio;
            var playlist;
            var tracks;
            var current;

            init();
            function init(){
                current = 0;
                audio = jQuery('audio');
                playlist = jQuery('#playlist');
                tracks = playlist.find('li a');
                len = tracks.length;
                audio[0].volume = .10;
                playlist.find('a').click(function(e){
                    e.preventDefault();
                    link = jQuery(this);
                    current = link.parent().index();
                    run(link, audio[0]);
                });
                audio[0].addEventListener('ended',function(e){
                    current++;
                    if(current == len){
                        current = 0;
                        link = playlist.find('a')[0];
                    }else{
                        link = playlist.find('a')[current];
                    }
                    run(jQuery(link),audio[0]);
                });
            }
            function run(link, player){
                    player.src = link.attr('href');
                    par = link.parent();
                    par.addClass('active').siblings().removeClass('active');
                    audio[0].load();
                    audio[0].play();
            }
        </script>
    {% endblock %}