{% extends './base.html' %}
{% block main %}
{% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'plist/img/bg-img/breadcumb2.jpg' %});">
        <div class="bradcumbContent">
            <p>Genre Search</p>
            <h2>장르 검색</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <p class="elements-area mt-30 section-padding-10">
        <div class="container">
            <div class="row">

                <!-- ========== Buttons ========== -->
                <div class="col-12" >

                    <!-- Buttons -->
                    <div class="oneMusic-buttons-area mb-100">
                        <buttonkpop id="kpop" class="btn oneMusic-btn m-2">K-POP <i class="fa fa-angle-double-right"></i></buttonkpop>
                        <buttonrb id="rb" class="btn oneMusic-btn m-2">R&B <i class="fa fa-angle-double-right"></i></buttonrb>
                        <buttonpop id="pop" class="btn oneMusic-btn m-2">POP <i class="fa fa-angle-double-right"></i></buttonpop>
                        <buttonjazz id="jazz" href="#" class="btn oneMusic-btn m-2">JAZZ <i class="fa fa-angle-double-right"></i></buttonjazz>
                        <buttonindi id="indi" class="btn oneMusic-btn m-2">INDI <i class="fa fa-angle-double-right"></i></buttonindi>
                        <buttondan id="dance" class="btn oneMusic-btn m-2">DANCE <i class="fa fa-angle-double-right"></i></buttondan>
                        <buttonhip id="hiphop" class="btn oneMusic-btn m-2">HIPHOP <i class="fa fa-angle-double-right"></i></buttonhip>
                        <buttonelse id="else" class="btn oneMusic-btn m-2">ELSE <i class="fa fa-angle-double-right"></i></buttonelse>
                        <buttonall id="all" class="btn oneMusic-btn btn-2 m-2">ALL </buttonall>
                    </div>

                    <p0>
                        {% for song in kpops %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p0>
                    <p1>
                        {% for song in r_bs %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p1>
                    <p2>
                        {% for song in pops %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p2>
                    <p3>
                        {% for song in jazzs %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p3>
                    <p4>
                        {% for song in indies %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p4>
                    <p5>
                        {% for song in dances %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p5>
                    <p6>
                        {% for song in hiphops %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p6>
                    <p7>
                        {% for song in elses %}
                            <div class="col-12">
                                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                    <div class="song-thumbnail">
                                        <a href="{% url 'song_detail' pk=song.pk%}">
                                            <img src="/static/plist/img/artist/{{ song.song_thumbnail }}.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="song-play-area">
                                        <div class="col-10" style="float:left;">
                                            <div class="song-name">
                                                <a href="{% url 'song_detail' pk=song.pk%}">
                                                    <p style="font-size:20px;float:left;">{{song.song_title}} <p style="font-size:15px;float:left;padding-top:7px;">&nbsp;&nbsp;({{ song.song_artist }})</p></p>
                                                </a>
                                            </div>
                                            <audio preload="auto" controls="controls">
                                                <source src="/static/plist/audio/{{song.song_title}}.mp3">
                                            </audio>
                                        </div>

                                        <div class="col-2" style="float:left;">
                                            <div class="classy-nav-container breakpoint-off" style="background-color: #262626;">
                                                <div class="classynav" id="oneMusicNav">
                                                    <ul>
                                                        <li><a href="#" style="font-size:20px;color:white"><i class="icon-inbox"></i>&nbsp;추가</a>
                                                            <ul class="dropdown">
                                                                {% for play in play_list %}
                                                                <li><a href="{% url 'add_song' play_pk=play.pk song_pk=song.pk path_pk=4 %}">{{ play.play_title}}</a></li>
                                                                {% endfor %}
                                                             </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </p7>
                </div>
            </div>
        </div>
    </section>

   <section>
        <div style="height: 150px"></div>
    </section>
{% endblock %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function(){
      $("buttonkpop").click(function(){
        $("p0").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonrb").click(function(){
        $("p1").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonpop").click(function(){
        $("buttonpop").css("color","#d49a9a");
        $("p2").toggle();
        $(this).css("color","#c2c0c0");
      });
    });
        $(document).ready(function(){
      $("buttonjazz").click(function(){
        $("p3").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonindi").click(function(){
        $("p4").toggle();
      });
    });
        $(document).ready(function(){
      $("buttondan").click(function(){
        $("p5").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonhip").click(function(){
        $("p6").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonelse").click(function(){
        $("p7").toggle();
      });
    });
        $(document).ready(function(){
      $("buttonall").click(function(){
        $("p0").toggle();
        $("p1").toggle();
        $("p2").toggle();
        $("p3").toggle();
        $("p4").toggle();
        $("p5").toggle();
        $("p6").toggle();
        $("p7").toggle();
      });
    });
    </script>

{% endblock %}