{% extends 'plist/base.html' %}
{% block main %}
{% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'plist/img/bg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Logout</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 col-lg-3">
                    <div class="login-out" >
                        <!-- Logout Form -->
                        <a href="{% url 'login' %}" >
                            <button class="btn oneMusic-btn m-2" style="margin : auto;"> Login
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Logout Area End ##### -->
{% endblock %}